<br>
<h1><b>SHOW/EDIT/DELETE STATIONS AND THEIR ROUTES</b></h1>
<select [(ngModel)]="selectedStation">
  <option *ngFor="let t of stations">
    {{t}} 
  </option>
</select>
<br/>
<button class="btn btn-secondary" (click)="getSelectedStation()"> Prikazi Stanicu! </button>
<br/>
<br>
<form [formGroup]="stationForm" (ngSubmit)="UpdateStation()">
  <div class="form-group row">

    <label for="Name" class="col-sm-2 col-form-label">Station name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="Name" id="Name"> 
    </div>
    <br><br>
    <label for="Address" class="col-sm-2 col-form-label">Address:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="Address" id="Address"> 
    </div>
  </div>
  <select formControlName="lineEditSelected" name="lineEditSelected" class="form-control form-control-sm">
    <option *ngFor="let t of linesToChose">
      {{t}} 
    </option>
  </select>
<br/>
  <button type="button" class="button" (click)="updateLines()"> Add route</button>
  <div class="col-sm-10">
    <button type="submit" class="btn btn-secondary">Edit</button>
    <br/>
  </div>
</form>
<br/>
<br/>
<button class="btn btn-secondary" (click)="deleteSelectedStation()"> Delete station </button>
<br/>
<br/>
<select [(ngModel)]="selectedLine">
  <option *ngFor="let t of lines">
    {{t}} 
  </option>
</select>
<br/>
<button class="btn btn-secondary" (click)="getSelectedLine()"> Show route </button>
<br/><br>
<form [formGroup]="lineForm" (ngSubmit)="IzmeniLiniju()">
  <div class="form-group row">
    <label for="SerialNumber" class="col-sm-2 col-form-label">S/N</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="SerialNumber" id="SerialNumber"> 
    </div>
  </div>
</form>

<h1><b>ADD ROUTE</b></h1>
<br/>
<br/>

<label>Station name:</label>
<div class="col-sm-10">
  <input type="text" [(ngModel)]="ime" name="ime" id="ime"> 
</div>
<label>Address:</label>
<div class="col-sm-10">
  <input type="text" [(ngModel)]="adresa" name="adresa" id="adresa"> 
</div>

<select [(ngModel)]="lineAddSelected">
  <option *ngFor="let t of linesToChose">
    {{t}} 
  </option>
</select>
<br/>
  <button class="btn btn-secondary" (click)="addLine()"> Add route on station </button>
<br/>
<br/>
  <button class="btn btn-secondary" (click)="AddStation()"> Add station </button>
<br/><br>