<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">JGSP - NOVI SAD </a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav col-xs-6">
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/redvoznje"
        >TIMETABLES</a
      >
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="/"
        >ROUTES</a
      >
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="/"
        >CURRENT VEHICLE LOCATIONS</a
      >
      <a
        *ngIf="!jwtIsAdmin() && !jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/cenovnik"
        >PRICELIST</a
      >
      
      <a
        *ngIf="!jwtIsUndefined()"
        class="nav-item nav-link"
        href="http://localhost:4200/login"
        >LOG IN/REGISTER</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/lineEdit"
        >EDIT ROUTES</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/stationEdit"
        >EDIT STATIONS</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/timetableEdit"
        >EDIT TIMETABLES</a
      >
      <a
        *ngIf="jwtIsAdmin()"
        class="nav-item nav-link"
        href="http://localhost:4200/"
        >EDIT PRICELIST</a
      >
      <a
        *ngIf="jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/verificateUser"
        >USER VERIFICATION</a
      >
      <a
        *ngIf="jwtIsController()"
        class="nav-item nav-link"
        href="http://localhost:4200/cardVerification"
        >TICKET VALIDATION</a
      >
      <a
        *ngIf="jwtIsUndefined()"
        class="nav-item nav-link"
        href="http://localhost:4200/profil"
        >MY PROFILE</a
      >
      <a
        *ngIf="jwtIsUndefined()"
        class="nav-item nav-link"
        (click)="logout()"
        href="http://localhost:4200/login"
        >LOG OUT</a
      >
    </div>
  </div>
</nav>
