<br>
<form [formGroup]="loginForm" (submit)="login()">
    <p><span class="fa fa-user"></span><input Placeholder="Username" type="text" formControlName="UserName" required></p>
    <p><span class="fa fa-lock"></span><input Placeholder="Password" type="password" formControlName="Password" required></p> 
    <div>
      <span style="width:50%; text-align:left;  display: inline-block;"><input type="submit" class="btn btn-secondary" value="Login"></span>
    </div>
  </form>
  <br><br>
  <a routerLink="/register">Register here</a>
  