<h1 align="center"><b> CHANGE PRICELIST </b></h1>
<hr>
<br/>
<form [formGroup]="ticketPriceEdit" (ngSubmit)="Izaberi()">
<div class="row">
    <div class="col-sm-2"></div>
  <div class="col-sm-6">
      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedTicket">
          <option *ngFor="let ticket of allTicketTypes" [ngValue]="ticket">{{ticket}}</option>
      </select>
  </div>

  <div class="col-sm-3">
      <button type="submit" class="btn btn-outline-primary">Show price</button>
  </div>
</div>
</form>
<br/>
<br/>
<form [formGroup]="ticketPriceEdit" (ngSubmit)="Izmeni()">
<div class="row">
  <div class="col-sm-2">
      <label for="Price" class=" col-form-label">Price: </label>
      </div>
  <div class="col-sm-6">
      <input type="text" class="form-control" formControlName="Price" id="Price"> 
  
  </div>
  <div class="col-sm-3">
      <button type="submit" class="btn btn-secondary">Edit price</button>
  </div>

</div>
</form>
