<br>
<h1><b>SHOW / DELETE ROUTE AND SHOW ROUTES STATIONS</b></h1>
<select [(ngModel)]="selectedLine">
  <option *ngFor="let t of lines">
    {{t}} 
  </option>
</select>
<br/>
<button class="btn btn-secondary" (click)="getSelectedLine()"> Show route </button>
<br>
<br/>

<div class="profile-form" style="width: 400px;">
  <form [formGroup]="lineForm">
    <div class="form-group row">
      <label for="SerialNumber" class="col-sm-2 col-form-label">S/N</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="SerialNumber" id="SerialNumber"> 
      </div>
    </div>
  </form>
  <button class="btn btn-secondary" (click)="deleteSelectedLine()"> Delete route </button>
  <br>
  <br/>
  <select [(ngModel)]="selectedStation">
    <option *ngFor="let t of stations">
      {{t}} 
    </option>
  </select>
  <br/>
  <button class="btn btn-secondary" (click)="getSelectedStation()"> Show station </button>
  <br>
  <br/>
  <form [formGroup]="stationForm">
    <div class="form-group row">
      <label for="Name" class="col-sm-2 col-form-label">Station name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Name" id="Name"> 
      </div>
      <label for="Address" class="col-sm-2 col-form-label">Address:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="Address" id="Address"> 
      </div>
      
    </div>
  </form>
</div>
<br/>
<br/>
<h1><b>ADD ROUTE</b></h1>
<br/>
<br/>

<label>S/N:</label>
<!-- <div class="col-sm-10">
  <input type="text" [(ngModel)]="serNum" name="serNum" id="serNum"> 
</div> -->
<input type="text" [(ngModel)]="newLine" name="newLine" id="newLine">

<br/>
  <button class="btn btn-secondary" (click)="AddLine()"> Add route </button>
<br/>
<br/>
